@import '~bootstrap/scss/bootstrap';

body {
  background-image: url("https://media.newyorker.com/photos/5c01c29b35b3693789275941/master/pass/2018IR_Poetry_Savage-Black.jpg");
  background-attachment: fixed;
  background-position: center top;
  font-family: 'Lobster', bold;
}

#poem-display {
  background-color: darkgray;
  margin: 50px;
  padding: 25px;
  // border: 5px red;
  border-radius: 5%;
}

#poem-buttons {
  align-self: center;
}

#title {
  font-size: 42px;
}

#poem-list {
  margin: 50px;
  color: darkgray;
}

#poem-form {
  margin-top: 50px;
  color: darkgray;
}

.row {
  color: darkgray;
}
